<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.udai.product.domain.mapper.RatingMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.udai.product.domain.dto.Rating" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="img" property="img" jdbcType="OTHER" />
    <result column="rating" property="rating" jdbcType="TINYINT" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, sku_id, img, rating, comment, create_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_rating
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_rating
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.udai.product.domain.dto.Rating" >
    insert into t_rating (id, order_id, sku_id, 
      img, rating, comment, 
      create_time, is_deleted)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{img,jdbcType=OTHER}, #{rating,jdbcType=TINYINT}, #{comment,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.udai.product.domain.dto.Rating" >
    insert into t_rating
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        #{img,jdbcType=OTHER},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=TINYINT},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.udai.product.domain.dto.Rating" >
    update t_rating
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=OTHER},
      </if>
      <if test="rating != null" >
        rating = #{rating,jdbcType=TINYINT},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.udai.product.domain.dto.Rating" >
    update t_rating
    set order_id = #{orderId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      img = #{img,jdbcType=OTHER},
      rating = #{rating,jdbcType=TINYINT},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>